// Inpiración: Los nombres de las variables fueron inspirados por tailwind.
// https://tailwindcss.com/docs/customizing-colors

:root {
  --font-family: 'Lato', sans-serif;
  --font-size: 18px;

  --green-100: #5EAAA8;
  --yellow-100: #ECA539;
  --red-100: #F05945;
  --gray-100: #F9F9F9;
  --white: #ffffff;
  --black-100: #000000;

  --animate-duration: 1s;
}
